/* App.css */

/* Global styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://i.pinimg.com/originals/f4/ae/f4/f4aef4c38276f49737974c84e4122a96.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Container styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease-in-out;
}

/* Form styles */
form {
  margin-top: 20px;
  transition: opacity 0.3s ease;
}

/* Button styles */
button {
  margin-top: 10px;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.1);
}

/* Weather info styles */
.weather-info {
  margin-top: 20px;
  text-align: center;
  animation: slide-up 0.5s ease;
}

/* Animations */
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.weather-container {
  background-color: rgba(255, 255, 255, 0.5); /* Lighter background color */
  padding: 20px;
  margin-top: 20px;
  width : 40%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
